*{
    margin: 0;
    padding: 0;
}
.container{
    box-sizing: border-box;
}
.header{
    height: 20%;
    width: 100%;
    background-color: yellow;
    position: absolute;
    border: 2px solid black;
    box-sizing: content-box;
}

.content{
    height: 65%;
    width: 100%;
    /* margin: 2%; */
    background-color: red;
    position:absolute ;
    bottom: 14%;
}
.footer{
    height: 13%;
    width: 100%;
    margin: auto;
    background-color: blue;
    position: absolute;
    bottom: 0.01%;
    margin-top: 5%;
}